@font-face {
  font-family: 'lato2';
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'lato2';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  background-color: #F4F6F9;
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px; }

h1 {
  margin: 0;
  padding: 0; }

h3 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

header {
  text-align: center; }

.logo svg {
  width: 186px;
  height: 70px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center; }

.masthead {
  text-align: center;
  padding: 0 20px 20px 20px; }

.logo span {
  display: none; }

.masthead__heading {
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #333333; }

.masthead__info {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4f4f4f; }

.masthead img {
  max-width: 145.69px;
  max-height: 44px; }

.masthead__nav {
  padding-bottom: 50px; }

.masthead__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.masthead__nav li:first-of-type {
  margin-right: 28px; }

/* Desktop view*/
@media (min-width: 1114px) {
  header {
    text-align: left;
    position: relative; }
  .logo svg {
    position: absolute;
    left: calc(50% - 557px);
    width: 92px;
    height: 32px;
    margin-top: 63px; }
  .main-header {
    padding: 0;
    background-image: url(../img/bg_header-resized.png);
    background-repeat: no-repeat;
    background-position: calc(50vw - 111px) 85%;
    background-size: 900px;
    text-align: left; }
  .masthead {
    text-align: left;
    padding-top: 226px;
    max-width: 1114px;
    margin: auto; }
  .masthead__nav ul {
    justify-content: flex-start; }
  .masthead__heading {
    max-width: 546px;
    max-height: 96px;
    font-size: 36px;
    line-height: 48px; }
  .masthead__info {
    max-width: 453px;
    height: 52px;
    font-size: 18px;
    line-height: 26px; } }

.start-link a {
  text-transform: uppercase;
  color: #00ADEE;
  line-height: 21px; }

.start-link {
  padding-top: 55px;
  margin-top: 0; }

.user-interface__subheading {
  color: #333333; }

.user-interface-container {
  padding-left: 18px;
  padding-right: 22px;
  padding-bottom: 562px;
  background-color: #FFFFFF;
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position: 50% -110px;
  background-size: 1580px; }

.user-interface p {
  margin-top: 27px;
  text-align: center;
  line-height: 23px;
  color: #4f4f4f; }

.learn-more-link {
  color: #00ADEE; }

@media (min-width: 1114px) {
  .user-interface__subheading {
    max-width: 480px;
    font-size: 28px;
    line-height: 37px; }
  .user-interface p {
    max-width: 480px;
    text-align: left; }
  .user-interface {
    text-align: left;
    padding-top: 217px;
    max-width: 1114px;
    margin: auto; }
  .user-interface-container {
    background-position: calc(50% + 257px) 50%;
    background-size: 2000px;
    padding-bottom: 171px; }
  .user-interface-header {
    max-width: 118px;
    max-height: 22px; }
  .start-link {
    padding-top: 0; } }
