@import "variables";

header {
  text-align: center;
}

header > .logo svg{
  width: 186px;
  height: 70px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.masthead {
  text-align: center;
  padding: 0 20px 20px 20px;
}

.logo span {
  display: none;
}

.masthead__heading {
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: $colour-headings;
}

.masthead__info {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: $colour-paragraph;
}

.masthead img {
  max-width: 145.69px;
  max-height: 44px;
}

.masthead__nav {
  padding-bottom: 50px;
}

.masthead__nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.masthead__nav li:first-of-type {
  margin-right: 28px;
}


/* Desktop view*/

@media (min-width: $faux-column-wide) {

  header {
  text-align: left;
  position: relative;
  }

  header > .logo svg{
    position: absolute;
    left: calc(50% - 557px);
    width: 92px;
    height: 32px;
    margin-top: 63px;
  }

  .main-header {
    padding: 0;
    background-image: url(../img/bg_header-resized.png);
    background-repeat: no-repeat;
    background-position: calc(50vw - 111px) 85%;
    background-size: 900px;
    text-align: left;
  }

  .masthead {
    text-align: left;
    padding-top: 226px;
    max-width: $break-point;
    margin: auto;

  }

  .masthead__nav ul {
    justify-content: flex-start;

  }

  .masthead__heading {
    max-width: 546px;
    max-height: 96px;
    font-size: 36px;
    line-height: 48px;

  }

  .masthead__info {
    max-width: 453px;
    height: 52px;
    font-size: 18px;
    line-height: 26px;
  }
}
