@import "variables";

.start-link a {
  text-transform: uppercase;
  color: $light-blue;
  line-height: 21px;
}

.start-link {
  padding-top: 55px;
  margin-top: 0;
}

.user-interface__subheading {
  color: $colour-headings;
}

.user-interface-container {
  padding-left: 18px;
  padding-right: 22px;
  padding-bottom: 562px;
  background-color: $light-background;
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position: 50% -110px;
  background-size: 1580px;
}

.user-interface p {
  margin-top: 27px;
  text-align: center;
  line-height: 23px;
  color: $colour-paragraph;
}

.learn-more-link {
  color: $light-blue;
}

@media (min-width: $break-point) {
  .user-interface__subheading {
  max-width: 480px;
  font-size: 28px;
  line-height: 37px;
  };

  .user-interface p {
    max-width: 480px;
    text-align: left;
  };

  .user-interface {
    text-align: left;
    padding-top: 217px;
    max-width: $break-point;
    margin: auto;
  }

  .user-interface-container {
    background-position: calc(50% + 257px) 50%;
    background-size: 2000px;
    padding-bottom: 171px;
  }

  .user-interface-header {
    max-width: 118px;
    max-height: 22px;
  }

  .start-link {
    padding-top: 0;
  }
}
