.masthead_logo svg{
  width: 186px;
  height: 70px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.masthead {
  text-align: center;
  padding: 0 20px 20px 20px;
}

.masthead span {
  display: none;
}

.masthead__subheading {
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #333333;
}

.masthead__info {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
}

.masthead img {
  max-width: 145.69px;
  max-height: 44px;
}

.masthead__nav {
  padding-bottom: 50px;
}

.masthead__nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.masthead__nav li:first-of-type {
  margin-right: 28px;
}


/* Desktop view*/

@media (min-width: 1080px) {
  .masthead_logo svg{
    width: 92px;
    height: 32px;
  }

  .masthead {
    max-width: 1080px;
    max-height: 665px;
    margin: auto;
    padding: 0;
    background-image: url(../img/bg_header-resized.png);
    background-repeat: no-repeat;
    background-position: 454px 85%;
    background-size: 720px;
    text-align: left;
  }


  .masthead__nav ul {
    justify-content: flex-start;
  }

  .masthead__subheading {
    max-width: 546px;
    max-height: 96px;
    font-size: 36px;
    line-height: 48px;

  }

  .masthead__info {
    max-width: 453px;
    height: 52px;
    font-size: 18px;
    line-height: 26px;
  }
}
